@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --theme-dark: #0b031b;
    --theme-light: #dbdbdb;
    --theme-black: #0b031b;
    --theme-white: #dbdbdb;
    --theme-pink: #d448f7;
    --theme-purple: #9027f1; */
    --theme-grad: linear-gradient(100deg, var(--theme-purple) 0%, var(--theme-pink) 70%);
    --navh: 3.5rem;
    --tes: rgb(41, 30, 59);
    --tes2: #eb8fdb44;
    --tes2: #d7d5d8;
    --ping: #d448f7;
}

* {
    @apply text-[--theme-white] font-roboto;
    transition: color 0.5s ease, background 0.5s ease;
}

h1 {
    @apply font-extrabold text-xl;
}

h2 {}
  
@media (min-width:640px) {
    h1 {
        @apply font-extrabold text-3xl;
    }
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(12, 4, 15);
    width: 10%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(100deg, var(--theme-purple) 0%, var(--theme-pink) 70%);
    border-radius: 30px;
    transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 120, 252);
    transition: 0.3s;
}

/* Keyframes untuk animasi kilap */
@keyframes shine-animation {
    0%, 45% {
      background-position: -50% 150;
    }
    55%, 100% {
      background-position: 150% 0%;
    }
  }

@layer components {
    .bg-main {
        @apply bg-[--theme-dark];
    }

    .bg-gradient-purple {
        @apply bg-gradient-to-r from-[--theme-pink] from-0% to-[--theme-purple] to-70%;
        background-size: 100% 100%;
        background-position: 0% 0%;
        transition: all 0.5s ease;
    }
    /* .bg-gradient-purple:hover{
        background-size: 250% 100%;
        background-position: 0% 0%
    } */

    .profil {
        @apply relative rounded-full overflow-clip h-fit w-fit mx-auto bg-gradient-to-r from-[--theme-purple] from-20% via-[--theme-pink] via-50% to-[--theme-purple] to-80% p-[7px];
        /* Resize the background for smooth animation */
        transform: rotate(-135deg);
        animation: shine-animation 3s ease infinite;
        background-size: 200% 100%;
        background-position: -50%;
    }

    .profil img {
        @apply h-[140px] w-[140px] rounded-full object-cover;
        transform: rotate(135deg);
    }

    @media (min-width:640px) {
        .profil img {
            @apply h-[180px] w-[180px] rounded-full object-cover;
            transform: rotate(135deg);
        }
    }
}