.profile-content {
    @apply pt-10 flex-col;

    * {
        transition: all 0.8s;
    }

    p {
        @apply font-medium text-center;
        .download-cv-btn{
            @apply mx-auto;
        }
    }

    #hanashi {
        @apply pt-16 w-full;
        order: 2;
    }

    #profpic{
        order: 1;
    }

    @media (min-width:768px) {
        @apply flex-row pt-0;

        #hanashi {
            @apply w-3/5 pt-8;
            order: 1;
        }

        #profpic {
            order: 2;
        }

        p{
            @apply text-left;
            
            .download-cv-btn{
                @apply mx-0;
            }
        }
    }

}

.profile-container {
    @apply px-10 pt-10 pb-10;

    @media (min-width:768px) {
        @apply px-16 py-7 pt-12;
    }

    @media (min-width:1024px) {
        @apply px-36;
    }
}

.download-cv-btn {
    @apply relative overflow-hidden h-full w-[250px] text-center align-middle rounded-full font-bold bg-gradient-to-r from-0% from-[--theme-purple] via-45% via-[--theme-pink] to-90% to-[--theme-purple];
    color: #dbdbdb;
    background-size: 200% 200%;
    background-position: 80% 0%;
}

.download-cv-btn::after {
    content: '';
    @apply w-full h-full rounded-full top-0 left-0 absolute bg-gradient-to-r from-transparent from-0% via-[#ffdafc23] via-10% to-20% to-transparent;
    animation: shine-animation-btn 3s ease infinite;
}

.download-cv-btn:hover {
    color: white;
    background-position: 45% 50%;
    background-size: 400% 400%;
}

@keyframes shine-animation-btn {

    0%,
    20% {
        transform: translateX(0) skewX(-30deg);
        opacity: 0;
    }

    35% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    90%,
    100% {
        transform: translate(110%) skew(-30deg);
        opacity: 0;
    }
}